@using Mangarr.Shared.Models

@code{
    [Parameter] public MangaListDetailsModel Item { get; set; }
}

<tr>
    <td class="align-middle">
        <a href="/manga/@Item.Id">
            @Item.Title
        </a>
    </td>
    <td class="align-middle">
        @Item.ChaptersDownloaded / @Item.ChaptersTotal
    </td>
    <td class="align-middle">
        <a href="https://anilist.co/manga/@Item.SearchId" target="_blank" class="btn btn-info btn-sm">AniList</a>
        <a href="@Item.SourceUrl" target="_blank" class="btn btn-primary btn-sm">@Item.SourceName</a>
    </td>
</tr>
